@model EngimaSimulator.Models.EnigmaConfiguration.PlugboardViewModel

@{
    ViewData["Title"] = "Plugboard";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="EnigmaConfiguration" asp-action="Rotors" method="post">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <div class="col-md-12">
        @for (int i = 1; i <= 10; i++)
        {
            <label>Pair @i:</label>
            <select class="select" name="SelA" id="Pair @i A">
                <option value="0" selected disabled hidden>Choose here</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option value="H">H</option>
                <option value="I">I</option>
                <option value="J">J</option>
                <option value="K">K</option>
                <option value="L">L</option>
                <option value="M">M</option>
                <option value="N">N</option>
                <option value="O">O</option>
                <option value="P">P</option>
                <option value="Q">Q</option>
                <option value="R">R</option>
                <option value="S">S</option>
                <option value="T">T</option>
                <option value="U">U</option>
                <option value="V">V</option>
                <option value="W">W</option>
                <option value="X">X</option>
                <option value="Y">Y</option>
                <option value="Z">Z</option>
            </select>
            <select class="select" name="SelB" id="Pair @i B">
                <option value="0" selected disabled hidden>Choose here</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option value="H">H</option>
                <option value="I">I</option>
                <option value="J">J</option>
                <option value="K">K</option>
                <option value="L">L</option>
                <option value="M">M</option>
                <option value="N">N</option>
                <option value="O">O</option>
                <option value="P">P</option>
                <option value="Q">Q</option>
                <option value="R">R</option>
                <option value="S">S</option>
                <option value="T">T</option>
                <option value="U">U</option>
                <option value="V">V</option>
                <option value="W">W</option>
                <option value="X">X</option>
                <option value="Y">Y</option>
                <option value="Z">Z</option>
            </select><br>
        }
    </div>
    <div class="form-group col-md-12 row">
        <div class="col-sm-8"></div>
        <div class="col-sm-4">
            <button type="submit" name="Command" value="Enigma" class="btn btn-primary">Go to Simulator</button>
        </div>
    </div>
</form>

@section scripts{
<script>    
    $('.select').change(function () {
        $('.select').not(this).val(0);
    });
</script>
}
