@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center col-md-12">
    <div>
        <h1 class="display-4">Welcome</h1>
        <p>
            
        </p>
    </div>    
    <div>
        <h3>How it works</h3>
        <p>

        </p>
    </div>
    <div>        
</div>
